# Ex 8 : Construct the query for retriving relevant information from the table using Python MySQL
### 02-07-2024

In [1]:

#command to install mysql connector in python
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector

#connector to create a connection to mysql in localhost:PORT
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

#the mysql_connector variable
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021F64306DD8>

In [3]:
# we need to get the reference to the cursor for executing the mysql commands
mycursor = mydb.cursor() 
#creating a new table
mycursor.execute("CREATE DATABASE student")

DatabaseError: 1007 (HY000): Can't create database 'student'; database exists

In [4]:
#using the database that we have created
mycursor.execute("use student")

In [5]:
#creating a new table for storing customer's name and address
mycursor.execute("CREATE TABLE stud (name VARCHAR(255), department VARCHAR(255), extra_class VARCHAR(255), age INT(20))")

In [6]:
mycursor = mydb.cursor()

sql = "INSERT INTO stud (name,department,extra_class,age) VALUES (%s, %s, %s, %s)"
#array of list
val = [
  ('Benjamin','computer science','OA',20),
  ('Kumar','physics','placement',21),    
  ('Praison','biochemistry','OA',20),        
]
#inserting multiple values in the same cursor using executemany
mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

3 was inserted.

In [7]:
mycursor = mydb.cursor()

#select query to view all the records
mycursor.execute("SELECT * FROM stud")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Benjamin', 'computer science', 'OA', 20)
('Kumar', 'physics', 'placement', 21)
('Praison', 'biochemistry', 'OA', 20)

In [8]:
mycursor = mydb.cursor()

#select query to view all the records
mycursor.execute("SELECT * FROM stud where department='computer science'")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Benjamin', 'computer science', 'OA', 20)

In [9]:
mycursor = mydb.cursor()

#select query to view all the records
mycursor.execute("SELECT name,department FROM stud where name LIKE 'Ba%'")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [10]:
mycursor = mydb.cursor()

#select query to view all the records
mycursor.execute("SELECT COUNT(*) AS TOTAL FROM stud")

myresult = mycursor.fetchall()

for x in myresult:
  print(x);

(3,)

In [11]:
mycursor = mydb.cursor()

#select query to view all the records
mycursor.execute("SELECT * FROM stud ORDER BY department")

myresult = mycursor.fetchall()

for x in myresult:
  print(x);

('Praison', 'biochemistry', 'OA', 20)
('Benjamin', 'computer science', 'OA', 20)
('Kumar', 'physics', 'placement', 21)