# Ex 9 : Delete the records from the table
### 02-09-2023

In [ ]:
#command to install mysql connector in python
!pip install mysql-connector-python

In [ ]:
import mysql.connector

#connector to create a connection to mysql in localhost:PORT
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

#the mysql_connector variable
print(mydb)

In [ ]:
# we need to get the reference to the cursor for executing the mysql commands
mycursor = mydb.cursor()

In [ ]:
#using the database that we have created
mycursor.execute("use student")

In [ ]:
sql = "INSERT INTO stud (name,department,extra_class,age) VALUES (%s, %s, %s, %s)"
#array of list
val = [
  ('Benjamin','computer science','OA',20),
  ('Kumar','physics','placement',21),    
  ('Praison','biochemistry','OA',20),        
]
#inserting multiple values in the same cursor using executemany
mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

In [ ]:
def show_stud(mycursor):
    #select query to view all the records
    mycursor.execute("SELECT * FROM stud")
    myresult = mycursor.fetchall()
    for x in myresult:
        print(x)

In [ ]:
mycursor.execute("DELETE FROM stud WHERE department='biochemistry'")
show_stud(mycursor)

In [ ]:
mycursor.execute("DELETE FROM stud where name LIKE 'Ba%'")
show_stud(mycursor)

In [ ]:
mycursor.execute("DELETE FROM stud WHERE name='Balamurugan'");
show_stud(mycursor)

In [ ]:
show_stud(mycursor)

In [ ]:
mydb.commit() # commit to mysql

In [ ]:
mycursor.execute("DELETE FROM stud")

In [ ]:
mycursor.execute("DROP TABLE stud")