# Ex 7 : Create Table and insert values using Python MySQL
### 02-07-2024

In [1]:
#command to install mysql connector in python
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\roaming\python\python311\site-packages (9.0.0)

In [2]:
import mysql.connector

#connector to create a connection to mysql in localhost:PORT
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

#the mysql_connector variable
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001D14ED9DF10>

In [3]:
# we need to get the reference to the cursor for executing the mysql commands
mycursor = mydb.cursor() 
#creating a new database
mycursor.execute("CREATE DATABASE demo")

In [4]:
#using the database that we have created
mycursor.execute("use demo")

In [7]:
#creating a new table for storing customer's name and address
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

In [9]:
mycursor = mydb.cursor() #getting the reference of the cursor

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val) #storing the record to the the database with the params

#commit to the database
mydb.commit()

print(mycursor.rowcount, "record inserted.")#display the number of rows effected using rowcount

1 record inserted.

Enter name87

'87'

In [12]:
name = input('Enter name');
address = input('Enter address');
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = (name,address)
mycursor.execute(sql, val) #storing the record to the the database with the params

#commit to the database
mydb.commit()

print(mycursor.rowcount, "record inserted.")#display the number of rows effected using rowcount

Enter namehepzhipa
Enter addresskovilpatti
1 record inserted.

In [14]:
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
#array of list
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]
#inserting multiple values in the same cursor using executemany
mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [15]:
mycursor = mydb.cursor()

#select query to view all the records
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Benjamin', 'Kovilpatti')
('John', 'Highway 21')
('John', 'Highway 21')
('hepzhipa', 'kovilpatti')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')